@model BangazonWorkforce.Models.Computer

@{
    ViewData["Computer"] = $"{Model.Manufacturer} {Model.Make}";
    ViewData["Title"] = $"{ViewData["Computer"]} Details";
}

<h2>@ViewData["Title"]</h2>

<hr />

<article class="detailGrid">
    <section>
        <label>@Html.DisplayNameFor(model => model.PurchaseDate)</label>
        <div> @Html.DisplayFor(model => model.PurchaseDate) </div>

        <label>@Html.DisplayNameFor(model => model.DecomissionDate)</label>
        <div> @Html.DisplayFor(model => model.DecomissionDate) </div>
    </section>

    <section>
        <ol>
        @foreach (var employee in Model.Employees)
        {
            <li>
                @Html.DisplayFor(modelItem => employee.FirstName)
                @Html.DisplayFor(modelItem => employee.LastName)
            </li>
        }
        </ol>
    </section>
</article>

<div class="linkGroup navLinks">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
