@model IEnumerable<BangazonWorkforce.Models.Computer>

@{
    ViewData["Title"] = "Bangazon Computers";
}

<h2>
    @ViewData["Title"]
    <a asp-action="Create"><img style="height:38px;" src="/images/create.png" /></a>
</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentOwner)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Manufacturer) @Html.DisplayFor(modelItem => item.Make)
                </a>
            </td>
            <td>
                @Html.Label(item.PurchaseDate.Date.ToShortDateString())
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentOwner.FullName)
            </td>
        </tr>
    }
    </tbody>
</table>
