@model BangazonWorkforce.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<h2>@Model.FullName</h2>
<hr />
<div>
    <h3>@Html.DisplayNameFor(model => model.Department)</h3>
    @Html.DisplayFor(model => model.Department.Name)
</div>
<div class="linkGroup navLinks">
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
