@model IEnumerable<BangazonWorkforce.Models.Employee>

@{
    ViewData["Title"] = "Bangazon Employees";
}

<h2>
    @ViewData["Title"]
    <a asp-action="Create"><img style="height:38px;" src="/images/create.png" /></a>
</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.FullName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Department.Name)
            </td>
        </tr>
    }
    </tbody>
</table>
