@model IEnumerable<BangazonWorkforce.Models.TrainingProgram>

@{
    ViewData["Title"] = "Training Programs";
}

<h2>
    @ViewData["Title"]
    <a asp-action="Create"><img style="height:38px;" src="/images/create.png" /></a>
</h2>

<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StartDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EndDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MaxAttendees)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Attendees)
                </th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxAttendees)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Attendees.Count)
            </td>
        </tr>
    }
    </tbody>
</table>
